body {
    background-color: #f3f3f3;
}

:root{
    --primary-color: #0c44d3;
}
#preview {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}


.jj-control-field{
    width: 100%;

}
.jj-control-wrapper{
    width: 100%;

    textarea{
        width: 100%;
        border: 1px solid;
        border-color: #d5dadf;
        resize: vertical;
        padding: 5px;
    }
}
.builder-element {
    position: relative;
    margin:0 10px;

    &:hover {
        box-shadow: inset 0 0 0 3px #71d7f7;
        .builder-element-overlay {
            opacity: 1;
        }
    }

    &-overlay {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;
        letter-spacing: 0;
        z-index: 9998;
        pointer-events: none;
        opacity: 0;
        transition: 0.2s all;
        cursor: pointer;

        ul {
            li {
                display: inline-flex;
                padding: 5px;
                color: #fff;
                background-color: #10bcf2;
            }
        }
    }
}
.flexbox {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 768px;
    height: 100vh;

    overflow: hidden;
    margin: 0 auto;
    padding: 15px;
}

.flexbox .board {
    display: flex;
    flex-direction: column;

    width: 300%;

    background-color: #313131;
    padding: 15px;
}

.flexbox .board .card {
    padding: 15px 25px;
    background-color: #f3f3f3;
}

.jj-panel {
    &-navigation {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        text-align: center;

        li {
            padding: 15px 0 8px;
            flex: 1;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;

            svg {
                margin-bottom: 5px;
            }
        }
    }

    &-heading {
        background-color: #fff;
        height: 40px;
        padding: 0 20px;
        width: 100%;
        border-bottom: 1px solid #e6e9ec;
    }

    &-control {
        background-color: #fff;
        position: relative;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;

        select {
            appearance: none;

            font-size: 12px;
            font-family: inherit;
            font-weight: inherit;
            font-style: inherit;
            text-transform: inherit;
            letter-spacing: inherit;
            line-height: inherit;

            padding-left: 5px;
            padding-right: 20px;
            cursor: pointer;

            border-radius: 3px;
            font-size: 12px;

            background: none;
            box-shadow: none;
            color: #6d7882;
            border: 1px solid;
            outline: none;
            height: 27px;
        }
    }
}

iframe {
    width: 100%;
}




/* 
:root {
    --primary-color: rgb(62, 100, 255);
    --complete-color: #27aa80;
    --text-color: #172b4d;
    --disabled-color: #fad6d6;
    --background-color: #f5eaea;
}

html {
    background: rgb(0,73,191);
    background: linear-gradient(90deg, rgba(0,73,191,1) 0%, rgba(190,190,255,1) 46%, rgba(0,212,255,1) 100%);
}

body {
    color: var(--text-color);
    font-family: sans-serif;
    margin: 0;
}

a {
    color: unset;
    text-decoration: unset;
    cursor: pointer;
}

p {
    margin: 10px 0;
    overflow-wrap: break-word;
    text-align: left;
}

label {
    font-size: 16px;
    display: block;
}

button, input {
    padding: 4px;
    border: 1px solid var(--disabled-color);
}

button {
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: var(--primary-color);
    transition: all ease 0.8s;
    cursor: pointer;
}

button.active {
    color: var(--primary-color);
}

button.active:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 4px;
    border-bottom: 1px solid var(--primary-color);
}

input:focus {
    outline: none;
}

select {
    outline: none;
    height: 40px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    background-color: white;
}

.item:hover {
    cursor: pointer;
}

.item-title {
    font-weight: 600;
    font-size: 16px;
}

.item-status {
    text-align: right;
}

.color-bar {
    width: 40px;
    height: 10px;
    border-radius: 5px;
}

.drop-wrapper {
    flex: 1 25%;
    width: 100%;
    height: 100%;
}

.col-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 5px;
}

.col-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}

.col {
    min-height: 300px;
    max-width: 300px;
    width: 300px;
}

.highlight-region {
    background-color: yellow;
}

.page-header {
    background-color: #054F7C;
    padding: 20px;
    color: white;
    font-size: 30px;
    flex: 1 100%;
    margin-top: 0;
    text-align: center;
}

.modal {
    background-color: #F4F5F7;
    border-radius: 2px;
    margin: 48px 0 80px;
    min-height: 450px;
    width: 800px;
    outline: none;
    padding: 20px;
}

.overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);;
}

.close-btn-ctn {
    display: flex;
}

.close-btn {
    height: 40px;
    width: 35px;
    font-size: 20px;
    color: #031D2C;
    border: none;
    border-radius: 25px;
}

.close-btn:hover {
    background-color: #DCDCDC;
} */
