.sidebar {
    width: 320px;
    height: 100%;
    background-color: #e6e9ec;

    &__nav {
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: var(--primary-color);

        h1 {
            color: #fff;
            font-size: 18px;
            line-height: 1;
        }

        &__logo {
            text-align: center;
        }
        &__burger,
        &__selection {
            cursor: pointer;
            padding: 12px;
            width: 2.5rem;

            svg {
                fill: #fff;
            }
        }
    }
}
